@font-face {
  font-family: MainFont;
  src: url('FontsFree-Net-ir_sans.ttf');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "MainFont", sans-serif;

}
body{
  background: linear-gradient(to right, #214933, #0c826c);

}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}
.v-layout {
  font-family: "MainFont", sans-serif !important;
}